# Files for deveopment
develop/*

web/mapc-public/npm/*
web/mapc-public/vendor/*
web/node_modules/*

# Upload directory
web/mapc-data/*

# Cache, Session files
web/temp/*

web/vendor/*

web/mapc-system/*
!web/mapc-system/config
!web/mapc-system/library
!web/mapc-system/proc

web/mapc-app/*
!web/mapc-app/common
