# Files for deveopment
.gitignore
.tmp.drivedownload/

sftp-config.json

db/*

secure/*

plan/*
!plan/mapc.mwb

web/env.php
web/sync.ffs_db
web/composer.lock
web/sftp-config.json

web/mapc-public/dist/*
web/mapc-public/vendor/*
web/mapc-public/user/*
web/mapc-public/layout/sbadmin/*
web/node_modules/*

# Upload directory
web/mapc-data/*

# Cache, Session files
web/mapc-temp/*
!web/mapc-temp/cached/index.php
!web/mapc-temp/log/index.php
!web/mapc-temp/session/index.php

web/vendor/*

web/mapc-system/*
!web/mapc-system/config
!web/mapc-system/library
!web/mapc-system/proc

web/mapc-app/*
!web/mapc-app/Common
!web/mapc-app/CommonAdmin
!web/mapc-app/bare
!web/mapc-app/oAuth

web/exta/*
