# Files for deveopment
.gitignore

develop/*
plan/*
!plan/mapc.mwb

web/env.php
web/sync.ffs_db
web/composer.lock

web/mapc-public/npm/*
web/mapc-public/vendor/*
web/node_modules/*

# Upload directory
web/mapc-data/*

# Cache, Session files
web/temp/*

web/vendor/*

web/mapc-system/*
!web/mapc-system/config
!web/mapc-system/library
!web/mapc-system/proc

web/mapc-app/*
!web/mapc-app/common
!web/mapc-app/commonAdmin
!web/mapc-app/bare
!web/mapc-app/oAuth
